.customPlayer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #180a0a;
  max-width: 740px;
  height: 400px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 10px;
}

.cover {
  height: 120%;
  transform: translate(20px, 0);
  transition: height 1s;
}

.smallPlayer {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
}

.description {
  font-size: 1rem;
}
